.title-container {
    height: 7vh;
}

.title-first {
    color: lightgreen;
    font-family: "ArcadeClassic", sans-serif;
}

.title-second {
    color: #FFCB9A;
    font-family: "ArcadeClassic", sans-serif;
    font-size: 1.4em;
}

.title-container {
    background-color: #272a2c;
    font-size: 2em;
    display: flex;
    align-items: center;
}