.home-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 2%;
}

.backlog-container {
    margin: auto;
    text-align: center;
    .title-backlog {
        h2 {
            text-transform: uppercase;
        }
    }
}
.backlog-items-container {
    margin: auto;
    max-width: 50%;
    ul {
        padding: unset;
        display: inline-block;
        text-align: left;
    }
}

.update-container {
    margin: auto;
    text-align: center;
    .title-update {
        h2 {
            text-transform: uppercase;
        }
    }
}
.update-items-container {
    text-align: center;
    ul {
        padding: unset;
        display: inline-block;
        text-align: left;
    }
}