// .nav-container {
//     background-color: #1d1e22;
//     padding: 5px;
// }

// .nav-container h1 {
//     color: white;
// }

// .nav-container input {
//     background-color: white;
//     margin-top: 14px;
//     float: right;
// }

// .search-container {
//     input {
//         padding-left: 5px;
//         padding-top: 5px;
//         padding-bottom: 5px;
//         width: 100%;
//         font-size: 20px;
//     }

//     .search-bar {
//         margin: 0.5% 2%;
//     }
// }

// .container {
//     flex-wrap: wrap;
// }

// .movie-results-container {
//     display: flex;
//     flex-direction: column;
//     height: 70vh;
//     overflow-y: scroll;
//     margin: 1% 2%;

//     .card-container {
//         display: flex;
//         flex-direction: row;

//         .cover-card-container {
//             margin: auto;
//             padding: 1%;

//             .cover-card {
//                 .card-img-top {
//                     min-width: 100px;
//                     max-width: 100px;
//                 }
//             }
//         }

//         .card-body {
//             margin: 0 2%;

//             .card-summary {
//                 .summary {
//                     display: -webkit-box;
//                     max-width: 100%;
//                     margin: 0 auto;
//                     -webkit-line-clamp: 4;
//                     -webkit-box-orient: vertical;
//                     overflow: hidden;
//                     text-overflow: ellipsis;
//                 }
//             }
//         }

//         .card-ratings {
//             margin: auto;
//             padding: 1%;

//             .rating-container {
//                 .score-container {
//                     text-align: center;
//                     padding-bottom: 25%;
//                 }

//                 .view-detail-button {
//                     button {
//                         width: 150px;
//                         max-width: 150px;
//                     }
//                 }
//             }
//         }
//     }
// }

////////////////////////////////////////////////////////////////////////////////////////

.search-container {
    input {
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
        font-size: 20px;
    }

    .search-bar {
        margin: 0.5% 2%;
    }
}

.anime-table-container {
    overflow: auto;
    overflow-y: scroll;
    width: 100%;
    height: 75vh;
}

:host::ng-deep .anime-table {
    width: inherit;
}

.card-img-top {
    min-width: 100px;
    max-width: 100px;
}

.main-title {
    margin: unset;
}

.anime-cover {
}

.anime-desc {
    .anime-desc-container {
        margin: 1% 2%;
    }
}

.anime-rating {
    text-align: center;
    width: 10%;
}

.grid-header-column.rating {
    text-align: center;
}

.grid-header-column.desc {
    width: 80%;

    padding-left: 1.6%;
}

::ng-deep .mat-paginator {
    .mat-paginator-container {
        justify-content: center;
    }

    // override material paginator page switch
    .mat-paginator-range-label {
        order: 2;
    }

    .mat-paginator-navigation-previous {
        order: 1;
    }
    .mat-paginator-navigation-next {
        order: 3;
    }
}

.card-summary {
    .summary {
        display: -webkit-box;
        max-width: 100%;
        margin: 0 auto;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.table-loading-container {
    width: 100%;
    height: 77vh;

    display: flex;
    align-items: center;
    justify-content: center;

    .loading-spinner {
        display: flex;
        justify-content: center;
    }
}
